/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


/* body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  height: 100vh;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.main-body {
  width: 80%;
  margin: auto;
}

.main-header {
  background-color: #0b090a;
  height: 5rem;
  width: 100%;
}

.main-header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e5e5e5;
  width: 80%;
  margin: auto;
}

.main-header .logo a {
  color: #e5e5e5;
  font-size: 2rem;
}

.main-header .logo a:hover {
  color: #ffffff;
}

.main-header nav {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 60%;
}

.main-header nav a {
  margin: 0 4rem;
  color: #e5e5e5;
  font-size: 1.2rem;
}

.main-header nav a:hover {
  color: #ffffff;
}

button {
  margin: 1.3rem;
  padding: 0.7rem 1.2rem;
  border-radius: 15%;
  border: none;
}

button:hover {
  background-color: #e5e5e5;
}

.danger-btn {
  background-color: #ff0000;
  color: #e5e5e5;
}

.edit-title {
  display: flex;
  align-items: center;
}

input {
  background-color: #eff7f6;
  border-radius: 15px;
  height: 2.5rem;
  text-align: center;
  margin: 1rem;
}

.body-input {
  height: 30vh;
  width: 85%;
  margin: 1.5rem auto;
  text-align: center;
  font-size: 1.2rem;
}

form {
  display: flex;
}

.section-input {
  height: 10vh;
  text-align: center;
  width: 30%;
  margin: auto;
  font-size: 1rem;
}

.auth {
  text-align: center;
  width: 35%;
  margin: auto;
  margin-top: 5rem;
}

.auth-form {
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.publish-button {
  background-color: #023e8a;
  color: #eff7f6;
  font-weight: bold;
  font-size: 1.1rem;
}

.publish-button:hover {
  background-color: #003566;
}

.post-header {
  display: flex;
  justify-content: space-between;
}
